<html>
    <!DOCTYPE html>
    <head>
	
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="../style.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title> Musikkat || <%= title %></title>			
    </head>

<body>
    
    <header>
        <div class="header" id="home">
        <div>

                <h2>MUSIKKAT</h2>
                <!-- mobile phone links -->
                <div class="menu" id="menu" >
                </div>
                    
        </div>
    
        
        <div id="links">
                <a href="/"><img src="../entertainment.png" height="40px" width="30px"/>HOME</a> 
                <a href="../news_field"><img src="../news.png" height="40px" width="30px"/>NEWS</a> 
                <a href="../top_song"><img src="../music.png" height="40px" width="30px"/>SONGS</a> 
                <a href="../short_video"><img src="../video.png" height="40px" width="30px"/>VIDEO</a> 
                <a href="../about"><img src="../about.png" height="40px" width="30px"/>ABOUT</a> 
        </div>
        
        <div id="link">      
            <a href="http://facebook.com/okoto.chris"><img src="../Facebook.jpg"  /></a> 
            <a href="http://wa.me/09157303724"> <img src="../Whatsapp.png"/></a> 
            <a href=""><img src="../tiktok.png"/></a>
            <a href=""> <img src="../Instagram.jfif"/> </a>
            <a href=""> <img src="../Gmail.jfif"/></a>
        </div>
        
    
        <div class="mode">
                <div class="dark"></div>
                <div class="white"></div>
        </div>
            
        <div id="links_mobile">
            <a href="/"><img src="../entertainment.png" height="40px" width="30px"/>HOME</a> 
            <a href="../news_field"><img src="../news.png" height="40px" width="30px"/>CELEBRITY NEWS</a> 
            <a href="../top_song"><img src="../music.png" height="40px" width="30px"/>TOP SONGS</a>
            <a href="../short_video"><img src="../video.png" height="40px" width="30px"/>Short_Videos</a> 
            <a href="../about"><img src="../about.png" height="40px" width="30px"/>ABOUT</a> 
    
            <div id="sociallink">
                <a href="http://facebook.com/okoto.chris"><img src="../Facebook.jpg"  /></a> 
                <a href="http://wa.me/09157303724"> <img src="../Whatsapp.png"/></a> 
                <a href=""><img src="../tiktok.png"/></a>
                <a href=""> <img src="../Instagram.jfif"/> </a>
                <a href=""> <img src="../Gmail.jfif"/></a>
            </div>
        </div>
        <div id="advert">
            <a href="/"><img src="../entertainment.png" /></a>
            <a href="../news_field"><img src="../news.png" /> </a>
            <a href="../top_song"><img src="../music1.png" /></a>
            <a href="../short_video"><img src="../video.png" /></a>
            <img src="../music_dance.png" />
        </div>
        
      
      <script sur="../main.js"></script>
    </header>
    
    

    <div style="padding-top:100px;"></div>
   
    <div class="details_container">
        <div>
            <img src="../musikkat.png" style="height:100px; width:150px"/>
        </div>
        <div class="details">
            <h2><%= blogd.artist_name %></h2>
            <div class="about">
                <p>  <%= blogd.comment %></p>
            </div>
            <img src="../<%= blogd.image %>" style="height:420px; width:350px;" />
            <div class="lyrics">
                <p>
                    <%= blogd.lyrics %>  
                
                </p>
            </div>
            <div class="details-audio">
                <a href="<%= blogd.dlink %> " download><img src="../download icon.png" style="height:25px; width:25px;" /></a>
                <audio controls loop> <source src="<%= blogd.plink %>"/> </audio>
            </div> 

            <p style="color:yellow;">feel the heat with musikkat! stay tune as we bring the world of entertainment to you </p>
            follow us on our social media platform 
            <div id="details_link">
                <a href="http://facebook.com/okoto.chris"><img src="../Facebook.jpg"  /></a> 
                <a href="http://wa.me/09157303724"> <img src="../Whatsapp.png"/></a> 
                <a href=""><img src="../tiktok.png"/></a>
                <a href=""> <img src="../Instagram.jfif"/> </a>
                <a href=""> <img src="../Gmail.jfif"/></a>
            </div>
        </div>

    </div>
    <div class="more_songs">
        <p>download more songs </p>
        <p>Stream and download mor of your favourite songs </p>
    </div>
    
    <div class="page_advert">
        
        <% if (blogs.length > 0) { %>
            <% for (let i = 0; i < 4; i++) { %>
                <a href="/top_song">
                    <div class="page_advert_details">
                            <%= blogs[i].artist_name %>
                            <%= blogs[i].title %>
                            <img src="../<%= blogs[i].image %>" type="image/jpeg" alt="image"/>
                            <a>donload</a>
                            <div><%= blogs[i].comment %> </div>
                    </div>
                </a>
               
            <% } %>
        <% } else { %>
            <h2>no content to display</h2>
        <% } %>
        
    </div>
    <footer style="height:50px; width:100px; margin:0px auto; color:yellow;">
        <p>&copy; Musikkat</p>
    </footer>

    <script src="../main.js"></script>
</body>

</html>