<html>
<%- include('partials/head.ejs')%>
<body>
    
    <%- include('partials/header.ejs')%>
    <div style="background:url('./music design.jpg');" class="design_container">
        <h2  style="padding-top:20px;">download latest africa music song</h2>
        <p>follow and download your favourite Artist Song and stream songs online and lot more </p>
        <div class="container" >
            <div class="search-container">
                <input type="text" placeholder="Search for content" class="search"/><label>Search</label>
            </div>	
        </div>
    </div>
   <div class="download">
    
        <div class="song-container">
               
            <div class="dsong">  
                    <% if(blogds.length>0){ %>
                        <%    blogds.forEach(blogd=>{  %>
                            
                            <img src="<%= blogd.image %>"/>
                            <h2><%= blogd.artist_name %></h2>
                            <div style="height:150px; position:relative; padding:5px; overflow:hidden;">
                                <P> 
                                <%= blogd.comment %>
                                </P>
                            </div>
                            <div class="dsong_box">
                                <a href="<%= blogd.dlink %>" download><img src="download icon.png" style="height:25px; width:25px;" /></a>
                                <audio controls loop> <source src="<%= blogd.plink %>"> </audio>
                            </div> 
                        <div class="clear_float"></div>
                        <hr/>
                        <%   })  %>

            
                    <%  }else{  %>
                            <h2>NO CONTENT TO DISPLAY CHECK AND REFRES YOUR NETWORK</h2>
                    <%  }  %>
                        
            </div>

        </div>
    </div>



<script src="main.js"></script>
    </body>  
</html>