<html>
<%- include('partials/head.ejs')%>
<body>
    
    <%- include('partials/header.ejs')%>
    <div style="background:url('./godspel.jpeg');" class="design_container">
        <h2  style="padding-top:20px;">download your favourite godspel songs</h2>
        
        <div class="container" >
            <div class="search-container">
                <input type="text" placeholder="Search for content" class="search"/><label>Search</label>
            </div>	
        </div>
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8809630259604795" crossorigin="anonymous"></script>
<!-- simplifying the web -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-8809630259604795"
     data-ad-slot="8600459374"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
    </div>
   <div class="download">
    
        <div class="song-container">
               
            <div class="dsong">  
                    <% if(bloggs.length>0){ %>
                        <%    bloggs.forEach(blogg=>{  %>
                            
                            <img laoding="lazy" src="<%= blogg.image %>"/>
                        <div laoding="lazy" class="news_click_more">
                            <a href="./godspel/<%=blogg._id %>" style="color:white;">
                            <h3 style="color:gold"><%= blogg.artist_name %></h3>
                            <div style="max-height:95px; position:relative; padding:5px; overflow:hidden;">
                                <P> 
                                <%= blogg.comment %>
                                </P>
                            </div>see more.....</a>
                            <div class="dsong_box">
                                <a href="<%= blogg.dlink %>" download><img src="download icon.png" style="height:25px; width:25px;" /></a>
                                <audio controls loop> <source src="<%= blogg.plink %>"> </audio>
                            </div> 
                        </div>
                        <div class="clear_float"></div>
                        <hr/>
                        <%   })  %>

            
                    <%  }else{  %>
                            <h2>NO CONTENT TO DISPLAY CHECK AND REFRES YOUR NETWORK</h2>
                    <%  }  %>
                        
            </div>

        </div>
    </div>



<script src="main.js"></script>
    </body>  
</html>