<html>
<%- include('partials/head.ejs')%>
<body>
    
    <%- include('partials/header.ejs')%>
    <div style="background:url('./godspel.jpeg');" class="design_container">
        <h2  style="padding-top:20px;">download latest Godspel music</h2>
        <p>follow and download your favourite Godspel Song, stream songs online and lot more </p>
        <div class="container" >
            <div class="search-container">
                <input type="text" placeholder="Search for content" class="search"/><label>Search</label>
            </div>	
        </div>
    </div>
   <div class="download">
    
        <div class="song-container">
               
            <div class="dsong">  
                    <% if(bloggs.length>0){ %>
                        <%    bloggs.forEach(blogg=>{  %>
                            
                            <img src="<%= blogg.image %>"/>
                            <h3 style="color:gold"><%= blogg.artist_name %></h3>
                            <div style="height:100px; position:relative; padding:5px; overflow:hidden;">
                                <P> 
                                <%= blogg.comment %>
                                </P>
                            </div><a href="./godspel/<%=blogg._id %>" style="color:blue;">see more.....</a>
                            <div class="dsong_box">
                                <a href="<%= blogg.dlink %>" download><img src="download icon.png" style="height:25px; width:25px;" /></a>
                                <audio controls loop> <source src="<%= blogg.plink %>"> </audio>
                            </div> 
                        <div class="clear_float"></div>
                        <hr/>
                        <%   })  %>

            
                    <%  }else{  %>
                            <h2>NO CONTENT TO DISPLAY CHECK AND REFRES YOUR NETWORK</h2>
                    <%  }  %>
                        
            </div>

        </div>
    </div>



<script src="main.js"></script>
    </body>  
</html>