<!DOCTYPE html>

<html>
	<%- include('./partials/head.ejs') %>
	
	
	<body>
		<%- include('./partials/header.ejs') %>
		
		<div style="background:url('./music design.jpg'); height:300px;"  class="design_container">
            <h2  style="padding-top:20px;">download your favourite latest songs</h2>
            <div class="container" >
                <div class="search-container">
                    <input type="text" placeholder="Search for content" class="search"/><label>Search</label>
                </div>	
            </div>
        </div>

		<!--TOP MUSIC DISPLAY AT HOME PAGE-->
		<p class="field_into">LASTEST AFRICA MUSICS</p>
			<div class="image-container">
				<div class="image-display">
					<% if (music.length > 0) { %>
						<% for (let i = 0; i < Math.min(151, music.length); i++) { %>
							<div class="image-display-style">
								<div>
									<a href="/<%= music[i]._id %>"><img src="<%= music[i].image %>" class="pix"/></a> 
								</div>
								<div>
									<a href="/<%= music[i]._id %>"><%= music[i].artist_name %></a>
								</div>
							</div>
						<% } %>
					<% } else { %>
						<h2> Calculating.....</h2>
					<% } %>
					
				</div>
			
		</div> 
		<!--container for all content --->
		<div class="extra_info">
			<!--VIDEO DISPLAY ON HOME FIELD
			<p class="field_into"> SHORT SEXY VIDEOS </p>
			
			<div class="single_video"> 
				<h4><%= video[5].content%></h4>
				<iframe src="<%= video[5].link %>"></iframe>
			</div>
			-->
			<a href="/short_video">
				<p>more videos....</p>
			</a>
			<div class="extra_video">
				<% if (video.length > 0) { %>
					<% for (let i = 0; i < Math.min(4, video.length); i++) { %>
					<%	if(i == 0){ %>
							<a href="/short_video">
								<div class="video_container">
									<iframe class="video_iframe" src="<%= video[i].link%>?autoplay=1&rel=0" autoplay allowfullscreen allow="autoplay"></iframe>
								</div>
							</a>
					<%	}else{ %>
							<a href="/short_video">
								<div class="video_container">
									<iframe class="video_iframe" src="<%= video[i].link%>&rel=0" allowfullscreen></iframe>
								</div>
							</a>
					<%	} %>
					<% } %>
					<div class="seemore">
						<a href="/short_video">
							more videos...
						</a>
					</div>
				<% }else{ %>
					<h3>No content to display</h3>
				<% } %>
			</div>
			
			

			<p class="field_into">LAST NEW RECOMMENDED FOR YOU</p>
			<div class="extra_news">
				<h3><%= news[0].helder %></h3>
				<img src="<%= news[0].image %>" alt="news_image" /> 
				<p><%= news[0].news %></p>
			</div>

		</div>
		<!-- not diplaying now -->
		<div class="form">
			<form method="post" action="" >
				<p><input type="text" placeholder="Enter your request" name="cleint req" required/></p>
				<p><input type="email" placeholder="Enter your email" name="client email"required/></p>
				<p><input type="number" placeholder="Enter your phone No." name="client phone" required/></p>
				<p><button>Contact Us</button></p>
			</form>
			<div id="form_cancel"style="height:25px; width:25px; background:rgb(169, 169, 239); position:absolute; bottom:0px;"></div>
		</div>
						
				<!-------- UP coming latest songs---------->
						
				<div class="upcoming">
					<div id="fside">
						
						
						</aside>
						
								<% if(blogs.length > 0){ %>
								<%	blogs.forEach(blog=>{ %>
						<aside>
							<div class="upcoming_download">
								<img src="<%=blog.image %>" alt="chiab img" class="pix1"/>
								<h2><%= blog.artist_name %></h2>
								<div style="max-height:70px; overflow:hidden;"><p><%= blog.header %></p></div><a href="/<%=blog._id %>" style="color:rgb(125, 125, 199); cursor:pointer; ">see more...</a>
							</div>	
								<img src="<%= blog.image %>" alt="02ice"  class="dimg"/><br/>

							<div class="upcoming_load">
								<div style="height:30px; width:200px; overflow:hidden;"><p>for advert contact us </p></div>	
								<div class="details-audio">
									<a href="<%= blog.audio %>" download><img src="download icon.png" style="height:25px; width:25px;" /></a>
									<audio controls loop> <source src="<%= blog.audio %>" type="audio/mp3"/> </audio>
								</div> 
								<div class="see_more"><a style="color:rgb(169, 169, 239);;" href="/<%=blog._id %>">lyrics....</a></div>				
							</div>
				<hr/>									
									<% }) %>
								<%	}else { %>
									<h3> NO CONTENT TO DISPLAY </h3>
								<% } %>
						</aside>

					
					</div>
				</div>	  
				
				
			</div>
			<script src="main.js"></script>
