<!DOCTYPE html>
<html>
    <%-include('partials/head.ejs') %>

    <body>
        <%- include('partials/header.ejs') %>

        <div style="background:url('./news headline.jpg');"  class="design_container">

            <h1  style="padding-top:20px;">get the latest treading news </h1>
            <p>stay tune as we bring you the latest happening around the world </p>
            <div class="container" >
                <div class="search-container">
                    <input type="text" placeholder="Search for content" class="search"/><label>Search</label>
                </div>	
            </div>
        </div>
    
			
            <div class="news_field"> 
                <div class="news">

                    <div style="position:relative; width:100%;">
                      <%  if(blogns.length > 0){ %>
                       <%     blogns.forEach(blogn=>{ %>

                        <a href="./news_field/<%=blogn._id %>"> 
                            <h3><%= blogn.helder   %></h3>
                                <img loading="lazy" src="<%= blogn.image %>" class="celebrity"/>
                        </a>   
                        <div loading="lazy" class="news_click_more">
                                <div style="max-height:170px; overflow:hidden; font-size:1em;">
                                    <a href="./news_field/<%=blogn._id %>" >  <p> <%= blogn.news %> </p></a>
                                    <p class="date_uploaded" style="color:rgb(206, 245, 98)">Date uploaded: <%= blogn.createdAt.toLocaleDateString() %></p>
                                </div>
                       
                               <!--

                                <div class="likes">
                                    <span style="height:auto; width:auto; padding:0px 0px 0px 2px;">333</span><img src="like.png" style="height:25px; width:25px"/>
                                    <span style="height:auto; width:auto; padding:0px 0px 0px 2px;">3k</span><img src="dislike.png" style="height:25px; width:25px"/>
                                </div>
                                -->
                        </div>
                                <div class="clear_float"  ></div>
                           
                                <hr/>
                         <%   }) %>
                     <%   }else{ %>
                            <h2>NO CONTENT TO DISPLAY PLEAE MAKE SURE YOUR INTERNET IS ON </h2>
                       <% } %>
                    </div>



                       
                       
                </div>     
            </div>
                        <script src="main.js"></script> 
    </body>
</html>